<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:blue; background-image: url('Krishna-mural.jpg');">
<p style="color:white; font-size:270%; text-align:center;"><br><b><strong>Pothiyil Sri Krishnaswamy Sri Narasimhamoorthy Temple</strong></b></p>
<div class="row">
    <div class="col-sm-2">
        <h4 style="color:white;"></h4>
    </div>
    <div class="col-sm-2">
        <a href="Home.html" style="color:white;font-size:160%">Home</a>
    </div>
    <div class="col-sm-2">
        <a href="Pooja.html" style="color:white;font-size:160%">Pooja</a>
    </div>
    <div class="col-sm-2">
        <a href="Gallery.html" style="color:white;font-size:160%">Gallery</a>
    </div>
    <div class="col-sm-2">
        <a href="About.html" style="color:white;font-size:160%">About Us</a>
    </div>
    <div class="col-sm-2">
        <a href="Contact us.html" style="color:white;font-size:160%">Contact Us</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-10"> </div>
    <div class="col-sm-2">
        <p style="background-color:pink; color:red;"> Pothiyil Temple is a Hindu Temple dedicated to Lord Sri Narasimhamurthy and Lord Sri Krishnaswamy located in the small village Pallipram. Devotees can now make use of the NextGen Online Services to make their offerings and make advance bookings for Darshan/Prasadam and other services from India and around the world for a hassle-free pilgrimage to Temple</p>
    </div>
</div>

</body>
</html>